# Firebase logs
firebase-debug.log*
.firebase/

# Output
lib/

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Environment variables (Sensitive)
.env
.env.local
.env.development
.env.test
.env.production
